.cuadro-con-texto {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Cuadro base */
.cuadro {
  width: 400px;
  height: 400px;
background-image: url(/imagenes/articulo5.jpg);
  border: 2px solid #000; }

  /* Cuadro con texto arriba */
.arriba {
 flex-direction: row-reverse;
}